<!DOCTYPE html>
<html lang="pt" id="requestShow">
<head>
  <%- include ../lib/meta %>
  <title>Solicitações realizadas</title>
  <%- include ../lib/link %>
</head>
<body>
  <%- include ../lib/navbar %>
<main>
  <div class="container">
    <div class="row">

      <% for (var i = 0, len = requests.length; i < len; i++) { %>
        <div class="col s12 m6 l4">
          <div class="card hoverable">
            <div class="card-image">
              <img src="<%= requests[i].gift.photo %>">
            </div>
            <div class="card-content">
              <span class="card-title grey-text text-darken-4 truncate"><%= requests[i].gift.title %></span>
              <p class="truncate">Doador:&nbsp;<%= requests[i].gift.owner.name %></p>
              <p class="truncate">Contato:&nbsp;<%= requests[i].gift.owner.ident %></p>
              <p>Quantidade:&nbsp;<%= requests[i].amount %></p>
              <p>Status:&nbsp;
                <% if(requests[i].status == "pending") { %> Pendente <% } else { %> Concluido <% } %>
              </p>
            </div>
            <a href="/requested/<%= requests[i]._id %>/completed" class="btn-large waves-effect full-width">RECEBI O PRESENTE</a>
          </div>
        </div>
        <% } %>
    </div>
  </div>  
</main>
  <%- include ../lib/js %>